# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\c++ java python\垃圾\自动化办公\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
