<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>servletTest</display-name>
    <welcome-file-list>
<!--        <welcome-file>login.html</welcome-file>-->
<!--        <welcome-file>index.htm</welcome-file>-->
<!--&lt;!&ndash;        <welcome-file>index.jsp</welcome-file>&ndash;&gt;-->
<!--        <welcome-file>default.html</welcome-file>-->
<!--        <welcome-file>default.htm</welcome-file>-->
        <welcome-file>order.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>cuijiayu</servlet-name>
        <servlet-class>com.cuijiayu.CuijiayuTestServlet</servlet-class>

    </servlet>
    <servlet>
        <servlet-name>cuijiayuhomework2</servlet-name>
        <servlet-class>com.cuijiayu.CuijiayuRequestParamsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cuijiayuhomework2_2</servlet-name>
        <servlet-class>com.cuijiayu.CuijiayuRefreshServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cuijiayu</servlet-name>
        <url-pattern>/cuijiayu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cuijiayuhomework2</servlet-name>
        <url-pattern>/cuijiayu2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cuijiayuhomework2_2</servlet-name>
        <url-pattern>/cuijiayu2_2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cuijiayuhomework3_1</servlet-name>
        <servlet-class>com.cuijiayu.RequestForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cuijiayuhomework3_1</servlet-name>
        <url-pattern>/cuijiayu3_1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cuijiayuhomework3_1.1</servlet-name>
        <servlet-class>com.cuijiayu.ResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cuijiayuhomework3_1.1</servlet-name>
        <url-pattern>/ResultServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cuijiayuhomework3_2</servlet-name>
        <servlet-class>com.cuijiayu.request.IncludingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cuijiayuhomework3_2.1</servlet-name>
        <servlet-class>com.cuijiayu.request.IncludedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cuijiayuhomework3_2</servlet-name>
        <url-pattern>/cuijiayu3_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cuijiayuhomework3_2.1</servlet-name>
        <url-pattern>/IncludedServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListClothesServlet</servlet-name>
        <servlet-class>com.HomeWork4.ListClothesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>com.HomeWork4.PurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarServlet</servlet-name>
        <servlet-class>com.HomeWork4.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListClothesServlet</servlet-name>
        <url-pattern>/ListClothesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/PurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>com.HomeWork5.CheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.HomeWork5.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.HomeWork5.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.HomeWork5.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/CheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>


</web-app>